/* src/CreateEditionForm.css */
.formContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .formColumn {
    flex: 1;
    margin-right: 20px;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  